# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# should always have crlf endings
test-data/crlf-words.txt text eol=crlf
# should always have lf endings
test-data/simple-words.txt text eol=lf
